<h1>{{title}}</h1>
{{!-- CRUD Functionality --}}
{{!-- CREATE button --}}
{{! Only show CRUD buttons if there's a session (authenticated user) }}
{{#if user}}
  <a href="/jobApplications/add" class="btn btn-success">Add a new job application</a>
{{/if}}

{{!-- READ Show Table to view all job applications in the db --}}
<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Applied Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{!-- Retrieve all job applications and loop --}}
        {{#each dataset}}
        <tr>
            <td>{{this.companyName}}</td>
            <td>{{this.jobTitle}}</td>
            {{!-- Use the hbs helper function to format the date accordingly --}}
            <td>{{toShortDate this.appliedDate}}</td>
            <td>{{this.status}}</td>
            {{!-- UPDATE and DELETE buttons --}}
            <td>
                {{! Only show CRUD buttons if there's a session (authenticated user) }}
                {{#if ../user}}
                    <a href="/jobApplications/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                    <a href="/jobApplications/delete/{{this._id}}" onclick="return confirmDeletion()" class="btn btn-danger">Delete</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
